h1{
  padding: 10px;            /*패딩 상,하,좌,우 10px*/
  background-color: #222; /*백그라운드 배경색깔*/
  color: #fff;            /*글자 색깔*/

  /* RGB(Red, Green, Blue)*/
  /* 0~255, 0~255, 0~255 -> 10진수 기준
     00~FF, 00~FF, 00~FF -> 16진수 기준(#사용) 
     cf) 같은 숫자면 생략 가능*/
}